{% load static %}

<html>
  <head>
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav class="blue">
      <div class="nav-wrapper container">
        <a href="/profileGrabber/" class="brand-logo">Twitter Profiler</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/profileGrabber">Home</a></li>
          <li><a href="discover.html">Discover</a></li>
          <li><a href="collection.html">Collection</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/profileGrabber">Home</a></li>
          <li><a href="discover.html">Discover</a></li>
          <li><a href="collection.html">Collection</a></li>
        </ul>
      </div>
    </nav>
    <div class="container" style="margin-top:40px;">
      {% block content %} {% endblock %}
    </div>
    <footer class="page-footer blue">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Part of the Shiftkey-py Tutorial</h5>
                <p class="grey-text text-lighten-4">Shiftkey-py is a free tutorial run at Shiftkey Labs at Dalhousie University in Halifax, Canada. Visit the Github repo or Shiftkey site for more information. </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://shiftkeylabs.ca/">Shiftkey Labs</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/cdconrad/shiftkey-py">Github</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Colin Conrad
            <a class="grey-text text-lighten-4 right" href="http://web.cs.dal.ca/~cconrad">Contact Me</a>
            </div>
          </div>
        </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
        $(".button-collapse").sideNav();
      });
    </script>
  </body>
</html>
